In [1]:
import pandas as pd

In [2]:
def fixer(line):
    to_replace = ['\n', '"', '₽']
    for item in to_replace:
        line = line.replace(item, '')
    line = line.split(',')
    for i in range(1, 7):
        if i in [2, 3]:
            line[i] = line[i].replace(' ', '')
        else:
            line[i] = line[i].strip()
    line[3] = line[3].split("\xa0")[0]
    if len(line) == 8:
        return(line)
    
# Данная функция приводит данные из парсинга в нормальный вид

In [3]:
bad_data = []
data = []
with open('data_new.csv', 'r', encoding = 'UTF-8') as infile:
    file = infile.readlines()
    for line in file:
        try:
            ans = fixer(line)
            if ans != None:
                data.append(fixer(line))
            else:
                bad_data.append(line)
        except:
            bad_data.append(line)
print(f"Потеряно {round(len(bad_data)/len(data)*100, 2)}% исходных данных")

Потеряно 5.96% исходных данных

In [4]:
col = ['Модель', 'Год выпуска', 'Цена', 'Объем двигателя (куб.см.)', 'Состояние', 'Наличие ПТС', 'Наличие пробега', 'Город']
data = pd.DataFrame(data, columns = col)

In [5]:
data[['Цена', 'Объем двигателя (куб.см.)']] = data[['Цена', 'Объем двигателя (куб.см.)']].astype(int)
data = pd.get_dummies(data, columns = ['Наличие ПТС', 'Наличие пробега', 'Состояние'], dtype = 'int', drop_first = True)
data[['Год выпуска', 'Цена', 'Объем двигателя (куб.см.)']] = data[['Год выпуска', 'Цена', 'Объем двигателя (куб.см.)']].astype(int)
dct = {'Наличие ПТС_птс':'ПТС','Наличие пробега_с пробегом':'Наличие пробега', 'Состояние_неисправен':'Неисправность'}
data.rename(columns = dct, inplace = True )
data.head()
# Переводим числовые переменные к типу int, избавимся от бинарных категориальных переменных с помощью get_dummies

,Модель,Год выпуска,Цена,Объем двигателя (куб.см.),Город,ПТС,Наличие пробега,Неисправность
0,BMW K 1600 GT,2014,1365000,1600,Владивосток,1,0,0
1,Big Dog,2007,1550000,2293,Владивосток,1,0,0
2,Kawasaki Z 1000,2008,600000,1000,Владивосток,1,1,0
3,Motoland TT250,2024,176000,250,Владивосток,0,0,0
4,Zuumav K7 300,2024,310000,300,Владивосток,0,0,0